.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6; /* Light background color */
  z-index: 9999; /* Ensure it's on top of everything else */
}

@media (max-width: 768px) {
  .preloader {
    width: 100vw;
    height: 100vh;
  }

  .preloader img {
    width: 80vw; /* Make the image responsive on mobile */
    height: auto; /* Maintain aspect ratio */
  }
}