.mainPage {
    display: grid;
    grid-template-columns: auto 14em 1fr; /* Auto-size first column */
    gap: 20px;
    background-color: var(--background-color);
    padding: 20px 20px 20px 20px;
    align-items: flex-start;
    margin: 0;
    background-color: white;
    height: 90vh;
}

/* Column 2 styling */
.column2 {
    border-radius: 8px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Content will flow naturally from the top */
    hyphens: none; /* Prevent hyphenation */
}

.Title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: .3em;
    text-transform: uppercase; /* Make text all caps */
}

.column3Title {
    font-size: 1.5rem;
    color: #7f8c8d;
    margin: 0;
    margin-bottom: 0em;
    text-transform: uppercase; /* Make text all caps */
}

/* Column 3 styling */
.column3 {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Content will flow naturally from the top */
}

.Body {
    font-size: 1rem;
    line-height: 1.5;
}