.page {
    display: grid;
    grid-template-columns: auto 350px 1fr; /* Auto-size first column */
    gap: 20px;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 20px 20px 20px;
    align-items: start;
    margin: 0;
  }
  
  .column1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .logoContainer {
    width: auto;
    height: auto;
    overflow: visible;
  }
  
  .column2 {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 80%;
  }
  
  .column2 h1 {
    font-size: 18px;
    color: black;
  }
  
  .column3 {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
  }