.mainPage {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 20px; /* Space between the stacked elements */
  background-color: var(--background-color);
  padding: 20px;
  align-items: flex-start;
  margin: 0;
  background-color: white;
  height: auto; /* Allow height to grow as needed */
  width: 100vw; /* Ensure it takes full viewport width */
  height: 100vh; /* Ensure it takes full viewport height */
  box-sizing: border-box; /* Include padding in the width calculation */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Column 2 styling */
.column2 {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  width: 100%; /* Ensure it fits within the parent */
  box-sizing: border-box; /* Include padding in the width calculation */
  flex-direction: column;
  justify-content: flex-start;
}

.Title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase; /* Make text all caps */
}

.column3Title {
  font-size: 1.5rem;
  color: #7f8c8d;
  margin: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase; /* Make text all caps */
}

/* Column 3 styling */
.column3 {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; /* Ensure it fits within the parent */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.Body {
  font-size: 1rem;
  line-height: 1.5;
}

.sponsoredBy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; /* Make sure the logos stay inside the container */
  box-sizing: border-box; /* Include padding in width calculation */
}
