.MuiAppBar-root {
  background-color: rgba(155, 155, 155, 0.9) !important; /* Ensure consistent background color */
}

.MuiTab-root {
  font-size: 1rem;
  text-transform: uppercase;
}

.MuiTab-textColorInherit {
  color: rgba(255, 255, 255, 0.7);
}

.MuiTab-textColorInherit.Mui-selected {
  color: white;
  font-weight: bold;
}

.MuiTabs-indicator {
  background-color: #3da9de; /* Highlight color */
}