.mobileMessageContainer {
  position: relative;
  display: grid; /* Use CSS Grid */
  grid-template-rows: auto 1fr auto; /* Define rows: content at the top, flexible middle, and content at the bottom if needed */
  width: auto; /* Full viewport width */
  height: 100%; /* Full viewport height */
  z-index: 100; /* Ensure it's above the particle background */
  user-select: none; /* Prevent text from being selected */
  margin: 1em;
}

.message {
  grid-row: 1; /* Ensure this stays at the top */
  color: white;
  font-size: 3rem; /* Large text size */
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 100; /* Ensure it's above the particle background */
  text-transform: uppercase;
  line-height: 1.2; /* Adjust line height for readability */
}

.linkedInButton {
  grid-row: 2; /* Ensure this stays below the message */
  margin-top: 20px;
  padding: 1.5vh 4vw; /* Responsive padding for the button */
  font-size: 1.2rem; /* Responsive font size for the button */
  background-color: white; /* LinkedIn color */
  color: #3da9de;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Adjustments for smaller screens */
@media (max-width: 480px) {
  .message {
    font-size: 2.5rem; /* Smaller font size for small screens */
  }

  .linkedInButton {
    font-size: 1rem;
  }
}