:root {
  --primary-color: #3da9de; /* Blue */
  --background-color: #f9fbfc; /* Light grey */
  --text-color: #333333; /* Dark grey */
  --font-helvetica-condensed: 'Helvetica Condensed', sans-serif;
}

body {
  font-family: var(--font-helvetica-condensed);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden; /* Disable horizontal overflow */
  overflow-y: hidden; /* Disable vertical overflow */
}

.full-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}