:root {
  --primary-color: #3da9de; /* Blue */
  --background-color: #f9fbfc; /* Light grey */
  --text-color: #333333; /* Dark grey */
  --font-helvetica-condensed: 'Helvetica Condensed', sans-serif;
}

/* Global styles */
html, body {
  height: 100%; /* Ensure the body and html stretch to fill the viewport */
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-helvetica-condensed);
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Desktop: apply --navbar-height */
@media (min-width: 769px) {
  :root {
    --navbar-height: 60px; /* Define navbar height for desktop */
  }

  .navbar {
    height: var(--navbar-height);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  main {
    min-height: calc(100vh - var(--navbar-height)); /* Adjust the height based on the navbar */
  }
}

/* Mobile: no navbar, so no navbar height */
@media (max-width: 768px) {
  :root {
    --navbar-height: 0; /* Set navbar height to 0 for mobile */
  }

  .navbar {
    display: none; /* Hide the navbar on mobile */
  }

  main {
    min-height: 100vh; /* No navbar, so fill the full height */
  }
}