.page {
  height: calc(100vh - 66px); /* Subtract the navbar height (e.g., 66px) from the viewport height */
  background-color: var(--background-color); /* Light grey background */
  display: flex; /* Flexbox to ensure it can stretch to fill the height */
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
}

.footer {
  grid-column: 1 / span 3; /* Make the footer span all columns */
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}