.page {
  height: calc(100vh - 66px); /* Subtract the navbar height (e.g., 66px) from the viewport height */
  background-color: var(--background-color); /* Light grey background */
  display: flex; /* Flexbox to ensure it can stretch to fill the height */
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;

  align-items: stretch; /* Stretch columns to be equal height */
  margin: 0;
}