.slide {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height)); /* Subtract navbar height */
  display: flex;
  justify-content: flex-start; /* Corrected value */
  align-items: center;
  overflow: hidden;

}

/* The welcome section */
.welcome {
  position: relative;
  z-index: 1;
  text-align: left;
  color: white;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

/* The h1 title styling */
.welcome h1 {
  font-size: 8rem;
  font-weight: bold;
  line-height: 100px;
  color: white;
  letter-spacing: -6px;
  margin-bottom: 20px;
  width: 50%;
  text-transform: uppercase;
  margin-top: .3em;
}

/* Welcome button styling */
.welcome button {
  background-color: #e74c3c;
  color: white;
  padding: 15px 30px;
  border: none;
  width: 30%;
  border-radius: 50px;
  font-size: 18px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  align-self: flex-start;
  margin-bottom: 30px;
}

.welcome button:hover {
  transform: scale(1.01);
}

/* Sponsored section styling */
.sponsoredSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 40px;
  max-width: 30%;
  margin-bottom: 2em;
  margin-top: auto; /* Push to bottom */
  align-self: flex-start;
}

.sponsoredSection p {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: bold;
  padding-left: 20px;
}

.sponsorLogo {
  width: 100px;
  height: auto;
  margin-left: 0px;
  padding-right: 20px;
}