/* The welcome section with vertical spacing */
.welcome {
  position: relative;
  max-height: 100%; /* Ensure the container doesn't overflow */
  z-index: 1;
  max-width: 1000px;
  text-align: left;
  color: white;
  margin-left: 1em;
  display: flex;
  flex-direction: column; /* Align vertically */
  justify-content: space-between;
  height: 92vh;
  padding-bottom: 1em;
}

/* The h1 title styling */
.welcome h1 {
  font-size: 10rem;
  font-weight: bold;
  line-height: 0.8;
  color: white;
  letter-spacing: -0.05em;
  margin-bottom: 20px; /* Space between title and button */
  text-transform: uppercase;
}

/* Welcome button styling */
.welcome button {
  background-color: #e74c3c;
  color: white;
  padding: 15px 30px;
  border: none;
  width: 85%;
  border-radius: 50px;
  font-size: 18px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  align-self: flex-start; /* Align the button to the left */
  margin-top: 0;
  box-shadow: 0;
  margin-bottom: 30px; /* Space between button and sponsored section */
}

.welcome button:hover {
  transform: scale(1.01);
  box-shadow: 0;
}

/* Sponsored section styling */
.sponsoredSection {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 40px;
  max-width: 90%;
  margin-bottom: 2em;
  margin-top: auto; /* Push this section to the bottom */
  align-self: flex-start; /* Align section to the left */
}

.sponsoredSection p {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: bold;
  padding-left: 20px;
}

.sponsorLogo {
  width: 100px;
  height: auto;
  margin-left: 0px;
  padding-right: 20px;
}


@media (max-width: 768px) {
  .welcome {
    margin-left: 0.5em;
    padding-bottom: 0.5em;
  }

  .welcome h1 {
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .welcome button {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }

  .sponsoredSection {
    padding: 5px;
    max-width: 100%;
    margin-bottom: 1em;
  }

  .sponsoredSection p {
    font-size: 0.9rem;
    padding-left: 10px;
  }

  .sponsorLogo {
    width: 80px;
    padding-right: 10px;
  }
}